.header {
    display: flex;
    vertical-align: middle;
    padding: 10px 16px;
    background: black;
    color: white;
    height: 65px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.headerText{
    font-size: 60px;
    font-weight: bold;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

